.posts {
  margin: 0 auto;
  max-width: 400px;
  padding-bottom: 24px;
}

.title {
  display: none;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
}
